    </main>
  </div>

  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/assets/js/admin.js"></script>
</body>
</html>
